/* Write your CSS here */
.image {
  height: 120px;
  width: 150px;
  margin-right: 15px;
}

.city-name {
  font-family: 'Roboto';
  font-size: 12px;
}

.list-item {
  display: flex;
  flex-direction: column;
}
